html, 
body{
  width: 100%;
  height: 100%;
  margin: 0;
    background-color: #ECEAFA;
}

.msg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.button {
    position: relative;
    display: block;
    width: 200px;
    height: 36px;
    border-radius: 18px;
    background-color: #5514a0;
    border: solid 1px transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: all .1s ease-in-out;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%; 
  }


.center-img-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .center-table{
      margin-left: auto;
      margin-right: auto;
  
  }

.help-buttons{
  background-color: #ECEAFA;
  border: none;

}